#content-wrapper,  #content-wrapper-left, #content-wrapper-right {
  background-color: $white;
  margin-top: $gutter;
  margin-bottom: $gutter;
}

// One-column, full width
#content-wrapper {
  #content {
    @extend %site-width-container;
    .content ul {
      margin-left: $gutter;
      list-style: disc inside;
    }
  }
}

// Two-columns, left sidebar
#content-wrapper-left {
  @extend %site-width-container;
  @extend %contain-floats;
  position: relative;

  // left-column (1/3rd of page)
  #contentbar {
    margin-left: $gutter;
    @include media(tablet) {
      @include grid-column( 1/3 );
      margin-left: 0px;
    }
    border-top: $margin*2 solid $cabinet-office;

    .tabs {
      margin-top: $gutter;
      margin-left: -15px;
      padding-left: 0px;
      border: 0px;

      li {
        display: block;
        background-color: $white;
        border: 0;
        padding-bottom: 12px;
        a {
          background-color: $white;
          text-decoration: underline;
          border: 0;
          padding-left: 0px;
        }
      }
    }
  }
 
  // right-column (2/3rds of page)
  #content {
    @include media(tablet) {
      @include grid-column( 2/3 );
    }
 
    // challenges view
    .view-c { 
      padding-left: 15px;
 
      .view-header h2 {
        margin-top: 0px;
      }

      .node-teaser {
        .links .first {
          padding-left: 0px;
        }
        h3 {
          margin-bottom: $gutter-one-quarter;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .item-list {
        margin: $gutter 0px $gutter 0px;
      }
    } // end challenges view
  }
}

// Two-columns, right sidebar
#content-wrapper-right {
  @extend %site-width-container;
  @extend %contain-floats;
  position: relative;

  // right-column (1/3rd of page)
  #contentbar {
    @include media(tablet) {
      @include grid-column( 1/3 );
    }
    border-top: $margin*2 solid $cabinet-office;
    padding-left: 0px;
    margin-left: 0px;

    .tabs {
      margin-top: $gutter;
      margin-left: -15px;
      padding-left: 0px;
      border: 0px;

      li {
        display: block;
        background-color: $white;
        border: 0;
        padding-bottom: 12px;
        a {
          background-color: $white;
          text-decoration: underline;
          border: 0;
          padding-left: 0px;
        }
      }
    }
  }

  // left-column (2/3rds of page)
  #content {
    @include media(tablet) {
      @include grid-column( 2/3 );
      padding-left: 0px;
      padding-right: 30px;
    }
  }
}

#content-tabs {
  border: 0px;
  .tabs {
    border: 0px;
    margin: 0px 0px $gutter 0px;
    padding: 0px $margin*2 0px 0px;
    li {
      border: 0px;
      a {
        border: 0px;
        background-color: $white;
        padding: 0px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// things teasers in views have in common
.view-c, .view-meeting-minutes {
  .view-header h2 {
    margin-top: 0px;
  }
  .node-teaser {
    .links .first {
      padding-left: 0px;
    }
    h3 {
      margin-bottom: $gutter-one-quarter;
      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .item-list {
    margin: $gutter 0px $gutter 0px;
  }  
}

// challenges view-specific
#block-system-main  .view-c {
  padding-left: 15px;
} // end challenges view

// some nodes are walls of text, drop font size
#node-89, #node-90, #node-100 {
  @include core-16;
}

.views-field-responses-comments {
  @include core-16;
  padding-bottom: $gutter-half;
}

// Large <ol> on home page
#content-wrapper #content {
  .standard {
    border-top: 5px solid $govuk-blue;
    li {
      @extend %contain-floats;
      counter-increment: step-counter;
      margin-top: $gutter;
      border-bottom: 1px solid $grey-2;
      
      &:before {
        content: counter(step-counter);
        @include bold-80;
        float: left;
        margin-right: 6.5%;
        width: 10%;
        text-align: center;
        padding-left: $gutter;
      }
      &:last-child {
        border-bottom: 1px;
      }
      .point {
        h4 {
          @include bold-24;
          margin-top: 0px;
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        p {
          margin-bottom: 0px;
        }
        float: left;
        width: 50%;
        @include core-19;
        vertical-align: baseline;
        display: block;
      }
      .guidance {
        float: right;
        margin-left: 10%;
        width: 23%;
      }
    }
  }
}