#footer-wrapper {
  border-top: $gutter-one-third solid $mainstream-brand;
  background-color: $grey-3;
  padding-bottom: $gutter;
  color: $grey-1;

  footer {
    @extend %site-width-container;
    @include core-16;
  }

  a {
    color: $grey-1;
    &:visited {
      color: $grey-1;
    }
  }

  #column-container {
    @extend %contain-floats;
    border-bottom: 1px solid $grey-2;
    .block {
      box-sizing: border-box;
      width: $one-third;
      float: left;

      @include media(mobile) {
        clear: both;
        width: 100%;
      }
    }
  }

  h2 {
    @include bold-24;
    color: $black;
    padding-bottom: $gutter-half;
    border-bottom: 1px solid $grey-2;
    margin-bottom: $gutter-half;

    @include media(tablet) {
      @include bold-19;
    }

  }

  ul {
    list-style-type: none;
    margin: $gutter $gutter-half $gutter-half 0;
  }

  li {
    @include media(tablet) {
      display: block;
      padding-bottom: $gutter-half;
    }
    @include media(mobile) {
      list-style-type: none;
      list-style-image: none;
    }
      margin: 0px $gutter-one-quarter 0 0;
  }
}

#open-government-licence {

  display: inline-block;
  vertical-align: bottom;
  position: relative;
  width: 75%;
  @include media(mobile) {
    width: 100%;
  }
  .licence {
    padding-left: 41px + $gutter-half;
    margin-bottom: 0;
  }

  .logo {
    left: 0;
    position: absolute;
    top: 0;
    width: 41px;
    margin-bottom: 0;

    a {
      display: inline-block;
      width: 41px;
      height: 17px;
      overflow: hidden;
      text-indent: -999em;
      background: url(/sites/all/themes/gdstheme/images/open-government-licence.png) 0 0 no-repeat
    }
  }
}

#crown-copyright {
  width: 24%;
  display: inline-block;
  text-align: right;
  vertical-align: bottom;
  padding-top: 140px;

  @include media(mobile) {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }

  a {
    background-image: url(/sites/all/themes/gdstheme/images/govuk-crest.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    text-align: center;
    text-decoration: none;
    padding: 115px 0 0 0;
    color: $grey-1;

  }
}
