@import 'stylesheets/_css3';

// Decorative blue bar under topbar on internal pages
#global-header-bar {
  @extend %site-width-container;
  .header-bar {
    height: $gutter-one-third;
    background-color: $mainstream-brand;
  }
}

// topbar region on internal pages
#topbar-wrapper {
  @include core-16;
  background-color: $black;
  color: $white;

  a {
    color: $white;
    &:visited {
      color: $white;
    }
  }

  header {
    @extend %site-width-container;
    @extend %contain-floats;
  }

  #site-slogan {
    font-size: 20px;
    padding-bottom: $gutter-one-quarter;

    @include media(mobile) {
      font-size: 17px;
    }
  }

  .box {
    @include box-sizing(border-box);
    @include media(tablet) {
      float: left;
    }
  }

  .left {
    width: 65%;
    padding-right: $gutter;
    float: left;
  }

  .right {
    width: 33%;
    float: right;
  }

  .top {
    padding-top: $gutter-half;
  }

  .bottom.right {
    padding: $gutter-half 0;
    text-align: right;
  }

  .bottom.left {
    padding-top:$gutter-half;
    h1 {
      margin-bottom: $gutter-one-third;
    }
  }

  .bottom.right {
    padding: $gutter-half 0;
    text-align: right;
  }

  @include media(mobile) {
    .left,
    .right {
      width: 100%;
      clear: both;
      float: none;
    }
  }

  ul {
    list-style-type: none;
  }

  li {
    margin: 0px;
    @include media(tablet) {
      display: inline;
    }
  }

  h3 {
    margin-top: $gutter-one-quarter;
  }

  #block-system-main-menu h2 {
    display: none;
  }

  .top.left {
    font-size: 32px;
    a {
      color: $white;
      &:visited {
        color: $white;
      }
    }
    img {
      position: relative;
      bottom: -5px;
      padding-right: $gutter-one-third;
    }

    @include media(mobile) {
      font-size: 27px;
    }

  }
}
