/* AT Commerce lte IE7 */

#menu-bar {
  width: 930px;
}

#article-92 div.view-mode-full ul,
#block-block-3 div.block-content ul{
  list-style: none;
  margin: 35px 0 0 0;
  padding: 0;
  display: block;
  height: 200px;
  width: 920px;
}

#article-92 div.view-mode-full ul li,
#block-block-3 div.block-content li{
  position: relative;
  display: block;
  float: left;
  width: 290px;
  padding: 15px 0 0 0;
  margin-right: 12px;
}

#article-92 div.view-mode-full ul li a,
#block-block-3 div.block-content li a{
  position: absolute;
  display: block;
  top: 90px;
  left: 0;
  height: 82px;
  width: 282px;
  font-size: 0;
}

#article-92 div.view-mode-full ul li a.stage-challenge,
#block-block-3 div.block-content li a.stage-challenge{
  background: url(../homepage-stages-01_02.png) no-repeat;
}
#article-92 div.view-mode-full ul li a.stage-pipeline,
#block-block-3 div.block-content li a.stage-pipeline{
  background: url(../homepage-stages-02_02.png) no-repeat;
}
#article-92 div.view-mode-full ul li a.stage-standard,
#block-block-3 div.block-content li a.stage-standard{
  background: url(../homepage-stages-03_02.png) no-repeat;
}



#article-92 div.view-mode-full ul li div,
#block-block-3 div.block-content li div{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-bottom: none;
  position: absolute;
  top: 0;
  left: 12px;
  height: 70px;
  width: 232px;
  padding: 10px 18px;
}

#article-92 div.view-mode-full ul{
  background: url(../diagram_03.png) no-repeat;
  padding-top: 369px;
}