
/* Clean file for your awesome overrides, enable in the info file to use. */

html {
  background: #FFFFFF;
}

#html-no-iframe {
  background: #E2E2E2;
}

.article {
  margin-bottom: 0px;
}

.align-center {
  text-align: center;
}

h1, #content h1 {
  font-size: 2em;
}

#beta-version{
  width: 100%;
  padding: 5px;
  text-align: center;
  font-size: 0.8em;
  border-bottom: 1px solid #fff;
  background: #D7F4CA;
  width: 100%;
}

#header-wrapper{
  background: #FFFFFF;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #D5D5D5;
}

#content-wrapper {
  background: #FFFFFF;
  border-bottom: 1px solid #D5D5D5;
  border-top: 1px solid #EEEEEE;
}

/*
#content-wrapper .container {
  width: 920px;
}
*/

#footer-wrapper {
  padding: 10px 0 15px;
  border-top: 1px solid #FFFFFF;
}


#menu-bar {
  background: linear-gradient(top, #666666, #333333);
  background: -moz-linear-gradient(top, #666666, #333333);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#333333));
  background: -webkit-linear-gradient(top,#666666 0%, #333333 100%);
  background: -o-linear-gradient(top,#666666 0%, #333333 100%);
  background: -ms-linear-gradient(top,#666666 0%, #333333 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#333333',GradientType=0 );
  top: 1.2em;
}

a:hover{
  text-decoration: underline;
}

#site-name a:hover{
  text-decoration: none;
}

div.view-content td{
  padding: 2%;
  vertical-align: top;
  width: 30%;
}

div.view-content td.col-first{
  padding-left: 0;
}

div.view-content td.col-last{
  padding-right: 0;
}

#content header{
  margin: 0;
}

article .article-content {
  padding: 6px 0;
}

.challenge-content{
  padding: 6px 0;
}

#menu-bar {
  min-height: 2.5em;
}

#block-system-main-menu li a{
    border-right: 1px solid #FFFFFF;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1em;
    margin: 0.5em 0;
    padding: 0 12px;
    text-transform: none;
}

#block-system-main-menu li {

}

#block-system-main-menu li.last a{
  border: none;
}

.article-type-profile.article-full section.field,
.article-type-proposal section.field {
  clear: both;
  border-top: 1px solid #aaa;
  padding: 10px 0 0 0;
  margin-bottom: 0;
}

.article-type-profile.article-full h2.field-label,
.article-type-proposal h2.field-label {
  width: 15%;
  float: left;
}

.article-type-profile.article-full .field-items,
.article-type-proposal .field-items {
  width: 85%;
  float: left;
  padding-bottom: 10px;
}

.article-type-profile.article-full div.field-name-body div.field-items,
.article-type-proposal div.field-name-body div.field-items{
  padding-bottom: 0px;
  float: none;
  width: 100%;
}

.article-type-profile.article-full .field-items .field-item,
.article-type-proposal .field-items .field-item{
  padding-left: 10px;
  border-left: 1px dotted #aaa;
}

.article-type-profile.article-full .comment-content div.field-items,
.article-type-proposal .comment-content div.field-items{
  float: none;
  width: 100%;
}

.article-type-profile.article-full .comment-content div.field-item,
.article-type-profile.article-full div.field-name-body div.field-items div.field-item,
.article-type-proposal .comment-content div.field-item,
.article-type-proposal div.field-name-body div.field-items div.field-item{
  padding-left: 0;
  border: none;
}

.article-type-proposal section.field-name-field-incorporated-in ul {
  list-style-type: none;
  margin: 0;
}

a.button{
  background: none repeat scroll 0 0 #000000;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 0 8px #666666;
  color: #FFFFFF;
  font-weight: bold;
  padding: 7px 10px;
}

#content h1.taxonomy-nodes-title{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 2.1em;
}

#content h1.taxonomy-nodes-title{
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 2.1em;
  border-bottom: 1px solid #2C2C2C;
}

header.taxonomy-nodes-header{
  padding-bottom: 10px;
}

#block-user-login{
  width: 100%;
  max-width: 100%;
}

#block-user-login .block-inner{
  margin: 0;
}

#block-user-login,
#block-user-login .form-item,
#block-user-login #edit-actions{
  float: right;
}

#block-user-login .item-list{
  float: left;
}

#block-user-login #edit-actions input,
#block-user-login #edit-actions{
  margin: 0;
}

#block-user-login .form-item,
#block-user-login .item-list{
  margin: 0 20px 0 0;
}

#block-user-login .item-list li,
#block-user-login .form-item input,
#block-user-login .form-item label{
  float: left;
}

#block-user-login .item-list li.first{
  background-color: #E7E7E7;
  background-image: -moz-linear-gradient(-90deg, #E7E7E7, #EFEFEF);
  border: 1px solid #E7E7E7;
  cursor: pointer;
  padding: 2px 10px;
  border-radius: 5px;
}

#block-user-login .item-list li.first a{
  color: #333333;
}
#block-user-login .form-item label span{
  visibility: hidden;
}

#block-user-login .item-list li.last,
#block-user-login .form-item label{
  margin-top: 3px;
}


#block-user-login .form-item input{
  height: 16px;
  width: 120px;
  border-radius: 3px;
  border: none;
}

#block-user-login .item-list li{
  margin: 0 30px 0 0;
}

.container .region-header .block{
  float: right;
  clear: both;
}

#block-site-new-proposal{
  margin: 5px 0 0 0;
  padding: 3px 10px;
}

#block-site-new-proposal a{
  font-family: 'Open Sans';
  font-weight: normal;
}

#block-search-form{
  margin-top: 0;
}

.page-node-add #breadcrumb{
  display: none;
}

ul.primary {
  border-bottom: 1px solid #aaa;
}

.underline{
  border-bottom: 1px solid #aaa;
}

.aboveline{
  border-top: 1px solid #aaa;
}

.article h1,
.article h2,
.article h3,
#edit-field-challenge-teaser h3,
#proposal-node-form h2,
#proposal-node-form h3,
#block-site-make-proposal h3{
  font-family: 'Open Sans';
  font-weight: normal;
}

article ul.links {
  margin: 5px 0;
}

article ul.links a {
  text-transform: none;
}
/*
article.article-type-challenge ul.links {
  text-align: left;
}
*/
article.article-type-challenge ul li {
  margin: 0 15px 0 0;
}


article.article-type-challenge,
article.article-type-challenge .field {
  margin-bottom: 0;
}

article.article-type-challenge div.article-content {
  padding-bottom: 0;
}

#site-name a, a:link, a:visited, a:active, a.active, li a.active {
  color: #006db4;
}

.hl-l #logo, .hl-l hgroup {
  float: none;
}

.hl-l hgroup {
  margin-top: 5px;
}

#branding {
  margin: 10px 0 0 5px;
}

#search-block-form input.form-submit {
  margin: 5px 0 5px 0;
  -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}

#search-block-form input.form-submit:focus,
#search-block-form input.form-submit:hover {
  -moz-box-shadow: 0 0 8px 1px #006db4;
  -webkit-box-shadow: 0 0 8px 1px #006db4;
  box-shadow: 0 0 8px 1px #006db4;
}

input.form-text:focus,
textarea:focus,
select:focus {
  border-color: #007fff;
  outline: 0;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #006db4;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #006db4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset, 0 0 8px #006db4;
}

#footer-panels-wrapper,
#quint-panels-wrapper {
  padding: 15px 0 10px;
  border-bottom: 1px solid #CCCCCC;
}

#edit-search-block-form--2{
  width: 170px;
}

#quint-panels-wrapper div.gpanel{
  margin: 0 10px;
}

#quint-panels-wrapper div.block-inner{
  padding-left: 0;
  margin-left: 0px;
}

.section-monitor-progress .view-content a,
.section-track-progress .view-content a,
#quint-panels-wrapper .view-content a{
  color: #555;
}

#content-wrapper.no-secondary {
  padding-top: 2.5em;
}
#user-profile-form #edit-timezone,
#user-profile-form #edit-contact{
  display: none;
}

body.page-user div.profile section h2.field-label{
  width: 120px;
}

body.page-user div.profile section.history{
  margin-top: 20px;
}

body.section-monitor-progress section.region {
  min-height: 65px;
}

div.view-flag-bookmarks-tab th.views-field-last-comment-timestamp {
  display: block;
  width: 240px;
}

body.front #content .block-views h2 {
  font-size: 1.7em;
}

body.front #content .block-views div.views-row article {
  padding-right: 20px;
}

body.front article.article-promoted ul.links{
  display: none;
}

body.front article.article-promoted h1.article-title{
  font-weight: bold;
}

#block-views-challenge-proposals-block {
  margin-top: 40px;
}

#block-views-challenge-proposals-block h2.block-title {
  font-size: 1.7em;
}

#block-menu-menu-footer-menu ul{
  margin-left: 0;
}

#block-menu-menu-footer-menu ul li{
  list-style-type: none;
  list-style-image: none;
  float: left;
  margin-left: 0;
  padding-right: 30px;
}

#challenge-node-form fieldset.filter-wrapper,
#proposal-node-form fieldset.filter-wrapper {
  display: none;
}

#proposal-node-form div.text-format-wrapper div.description {
  font-size: 0.85em;
}

#proposal-node-form iframe html {
  background: #FFFFFF;
}

html.js input.form-autocomplete {
  background-position: 100% 7px;
}

.admin-help-message li{
  display: inline-block;
  background: #234600;
  border-radius: 3px;
  margin: 2px;
  padding: 0 7px 2px;
}

.admin-help-message li a{
  color: #fff;
}

article section.field-type-relation ul.links {
  text-align: left;
}

article section.field-type-relation ul.links li.first{
  margin-left: 0;
}

@media handheld and (max-width: 700px), screen and (max-width: 700px) {
#block-system-main-menu li a {border-right: none;}
}

@media handheld and (min-width: 1000px), screen and (min-width: 1000px) {

  #article-92 div.view-mode-full ul,
  #block-block-3 div.block-content ul{
    list-style: none;
    margin: 35px 0 0 0;
    padding: 0;
    display: block;
    height: 200px;
    width: 920px;
  }

  #article-92 div.view-mode-full ul li,
  #block-block-3 div.block-content li{
    position: relative;
    display: block;
    float: left;
    width: 290px;
    padding: 15px 0 0 0;
    margin-right: 12px;
  }

  #article-92 div.view-mode-full ul li a,
  #block-block-3 div.block-content li a{
    position: absolute;
    display: block;
    top: 90px;
    left: 0;
    height: 82px;
    width: 282px;
    font-size: 0;
  }

  #article-92 div.view-mode-full ul li a.stage-challenge,
  #block-block-3 div.block-content li a.stage-challenge{
    background: url(../homepage-stages-01_02.png) no-repeat;
  }
  #article-92 div.view-mode-full ul li a.stage-pipeline,
  #block-block-3 div.block-content li a.stage-pipeline{
    background: url(../homepage-stages-02_02.png) no-repeat;
  }
  #article-92 div.view-mode-full ul li a.stage-standard,
  #block-block-3 div.block-content li a.stage-standard{
    background: url(../homepage-stages-03_02.png) no-repeat;
  }



  #article-92 div.view-mode-full ul li div,
  #block-block-3 div.block-content li div{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 12px;
    height: 70px;
    width: 232px;
    padding: 10px 18px;
  }

  #article-92 div.view-mode-full ul{
    background: url(../diagram_03.png) no-repeat;
    padding-top: 369px;
  }
}

.track-progress-div {
  border-bottom: 1px solid #D5D5D5;
  clear: both;
  display: block;
  height: 10px;
  width: 100%;
}

.white-top {
  border-bottom: none;
  border-top: 1px solid #eeeeee;
}

#content div.views-row h1.article-title {
  font-size: 1.5em;
}

.inline {
  display: none;
}

article.article-type-profile section.field-name-field-relation ul.links {
  margin: 0;
}

#form-challenge, #form-proposal{
  margin-bottom: 5px;
}


body.maintenance-page #page,
body.maintenance-page {
  /*
  text-align: center;
  */
  background: #FFFFFF;
  font-family: "Lucida Sans Unicode", "Lucida Sans", "Lucida Grande", Verdana, Geneva, sans-serif;
}

body.maintenance-page #page {
  position: absolute;
  top: 100px;
  max-width: 300px;
  height: 300px;
  margin: auto;
}
body.maintenance-page {
  max-width: 300px;
  margin: auto;
  text-align: center;

}

body.maintenance-page #main-content h1 {
  font-size: 1.6em;
}

body.maintenance-page #banner h1 {
  color: #006db4;
  font-weight: normal;
}


body.maintenance-page #main-content {
  margin-top: 20px;
}

body.maintenance-page #content {
  padding: 10px;
}

.rate-widget ul {
  margin: 0;
}

.rate-widget ul li{

}
.rate-widget-yesno .item-list ul li.last {
  margin-left: 10px;
}

.rate-widget-yesno .item-list ul li a {
  line-height: 15px;
  padding: 3px 5px 3px 23px;
  border-radius: 4px;
  border: 1px solid #006db4;
  color: #006db4 !important;
}

.rate-widget-yesno .item-list ul li.first a{
  background: url(../like.png) no-repeat;
}

.rate-widget-yesno .item-list ul li.last a{
  background: url(../dislike.png) no-repeat;
  font-size: 0;
  padding-right: 0;
}
