/* Base */
html {
  font-size: 81.3%; /* 13px base font size */
}
body {
  line-height: 1.5;
}

/* Micro reset */
h1, h2, h3, h4, h5, h6, h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, em, dfn, del, ins {
  margin: 0;
  padding: 0;
}

/* Headings */
h1 {
  font-size: 2.308em; /* 30px */
}
h2 {
  font-size: 1.538em; /* 20px */
}
h3 {
  font-size: 1.231em; /* 16px */
}
h4 {
  font-size: 1.077em; /* 14px */
}
h5, h6 {
  font-size: 1em; /* 13px */
}
p {
  margin: 0 0 0.75em;
  padding: 0;
}
blockquote p {
  margin: 0;
}
strong {
  font-weight: bold;
}
em, dfn {
  font-style: italic;
}
dfn {
  font-weight: bold;
}
sup, sub {
  line-height: 0;
}
del {
  color: #666;
}
ins {
  border-bottom: none;
  text-decoration: none;
}
pre, code {
  margin: 1.5em 0;
  padding: 0;
  white-space: pre;
}
pre, code, tt, p code  {
  font: 1em Consolas, Monaco, "Courier New", Courier, monospace, serif;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
li li, li p, td p, blockquote p {
  font-size: 1em;
}
blockquote, q {
  font-style: italic;
  margin: 0 0 1.5em;
  padding: 0 0 0 3em;
}
blockquote:before,
blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
table {
  border-spacing: 0;
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
}
td, th {
 padding: 5px;
}
th {
  border-bottom: 0 none;
}
tr.even, tr.odd {
  background-color: rgba(0,0,0,0.03);
  padding: 0;
}

/* Global Link Styles */
 a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
a img {
  border: none;
}

/* Lists */
ul, ol {
  margin: 0 0 1em 15px;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
}

/* Set nested list indentation */
ul ul, ul ol,
ol ol, ol ul,
.block ul ul,
.block ul ol,
.block ol ol,
.block ol ul,
.item-list ul ul,
.item-list ul ol,
.item-list ol ol,
.item-list ol ul {
  margin: 0 0 0 15px;
}

/* Set nested list list-style-types */
ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}
ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1em 15px;
}
.item-list ul,
.item-list ol {
  margin: 0 0 0 15px;
  padding: 0;
}
.item-list ul li {
  margin: 0;
  padding: 0;
}

/* Special case some regions to remove bullets, margin and paddng */
.three-3x33 ul,
.three-3x33 ul li,
.four-4x25 ul,
.four-4x25 ul li {
  list-style: none;
  list-style-type: none; /* IE6/7 */
  margin: 0;
}

/* Forms */
input.form-text,
textarea {
  padding: 4px;
}
select {
  padding: 3px;
}
.form-textarea-wrapper textarea {
  font-size: 130%;
}
.filter-wrapper {
  border: 0;
  margin: 0;
  padding: 0;
}
.filter-help {
  padding: 10px 0 0 0;
}
.filter-wrapper .form-item {
  padding: 0 0 10px 2px;
}
.filter-guidelines {
  padding: 0 10px 10px 2px;
}
.form-submit {
  border: 0;
  margin: 5px 10px 5px 0;
  padding: 2px 10px;
  cursor: pointer;
}
.form-submit:focus,
.form-submit:hover {
  -moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
}
input.form-text,
textarea,
select {
  -webkit-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
}
.resizable-textarea .grippie {
  display: none;
}
fieldset {
  margin-bottom: 15px;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
  box-shadow: inset 0 1px 2px 2px rgba(0, 0, 0, 0.07);
}
fieldset.collapsed {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* Toggle Draw */
.region-draw {
  padding: 25px 20px 0;
}
.region-draw a:hover,
.region-draw a:focus {
  text-decoration: underline;
}
.region-draw .block {
  float: left;
  display: inline-block;
  min-width: 25%;
  max-width: 50%;
}
#toggle-wrapper a {
  display: block;
  padding: 0 10px 2px;
  font-size: 0.923em;
  outline: 0;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
}

/* Site Header */
#header-wrapper {
  border-bottom: 1px solid #fff;
}
#header-wrapper header {
  margin: 0 10px;
}
#branding {
  margin: 25px 0 18px;
}
#logo {
  padding-top: 0.214em;
}
#site-name {
  font-size: 3em; /* 39px */
}
#site-slogan {
  font-size: 2.3em; /* trying for the x-height of the site name, but this won't always match */
  padding-left: 10px;
  padding-right: 10px;
}
#site-name,
#site-slogan {
  display: inline;
  line-height: 1;
}
#branding.with-logo.site-name-hidden.with-site-slogan hgroup,
#branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
  float: none;
  display: block;
  clear: both;
  padding: 0;
}
#branding.with-logo.site-name-hidden.with-site-slogan hgroup #site-slogan {
  font-size: 1.231em;
  padding-top: 5px;
}

/* Menu bar */
#menu-bar {
  position: relative;
  top: 1.5em;
  min-height: 3em;
  clear: both;
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.nav ul,
.nav ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav .block {
  margin: 0 5px;
}
.nav ul li,
.nav ul li a {
  line-height: 3em;
  float: left;
  display: block;
}
.nav ul li a {
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}
.nav ul li a.active,
.nav ul li.active-trail a {}

.region-header .block  {
  margin-top: 15px;
}

/* Superfish Skin */
.sf-menu a {
  border: 0;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
  top: 3em;
  margin: 0 0 0 10px;
  padding: 0;
  line-height: 2em;
}
.sf-menu li:hover ul ul,
.sf-menu li.sfHover ul ul{
  top: 0;
  margin: 0;
  line-height: 2em;
}
.sf-menu li ul li,
.sf-menu li ul a {
  line-height: 2em;
}

/* Wrapper white space */
#secondary-content-wrapper .texture-overlay {
  padding-top: 4em;
  padding-bottom: 30px;
}
#content-wrapper {
  padding-top: 20px;
  padding-bottom: 30px;
}
#content-wrapper.no-secondary {
  padding-top: 4em;
}
#sub-panels-wrapper {
  padding: 0 0 40px;
  margin-bottom: 25px;
  background: url(images/blur-seperator.png) no-repeat center bottom;
}
#tertiary-content-wrapper {
  padding: 20px 0 0;
}
#secondary-content-wrapper .region-secondary-content,
#tertiary-content-wrapper .region-tertiary-content {
  margin-left: 40px;
  margin-right: 40px;
}
#quint-panels-wrapper {
  padding: 30px 0 20px;
}
#footer-panels-wrapper {
  padding: 30px 0 15px;
}
#footer-wrapper {
  padding: 20px 0 15px;
}

/* Fields */
.field-type-image img {
  background: #fff;
  padding: 4px;
}
.field-label {
  font-size: 1em;
}
article .field {
  margin-bottom: 0.75em;
}
.field-type-commerce-price {
  font-size: 1.538em;
}
.field-type-taxonomy-term-reference ul {
  margin: 0;
  padding: 0;
}
.field-type-taxonomy-term-reference li {
  list-style: none;
}

/* Articles */
.article,
.comment {
  margin-bottom: 25px;
}
article header {
 position: relative;
 margin-bottom: 10px;
}
.article-title {
  line-height: 1.4;
}
article .submitted {
  color: #666;
  font-size: 0.923em;
  padding: 0 0 0.6em;
  margin: 0;
  position: relative;
}
article .article-content {
  padding: 10px 0;
}
article nav {
  clear: both;
}
article ul.links {
  font-size: 0.923em;
  text-transform: capitalize;
  text-align: right;
  margin: 10px 0;
  padding: 0;
}
article ul.links li {
  display: inline;
  list-style: none;
  margin: 0 0 0 10px;
}
article ul.links a {
  padding: 0;
  text-transform: capitalize;
}
.article header.with-picture {
  height: 3.5em;
  height: auto !important;
  min-height: 3.5em;
  padding-left: 60px;
}
.article header .user-picture {
  left: 0;
  top: 9px;
  position: absolute;
  max-width: 47px;
  max-height: 47px;
  overflow: hidden;
}
.article header .user-picture img {
  display: block;
  margin: 0;
  max-width: 47px;
  max-height: 47px;
}

/* Comments */
h2.comment-title {
  margin-bottom: 20px;
}
.comment {}
article.comment header.with-picture {
  height: 3em;
  height: auto !important;
  min-height: 3em;
  padding-left: 50px;
}
article.comment header .user-picture {
  top: 5px;
  max-width: 35px;
  max-height: 35px;
}
article.comment header .user-picture img {
  max-width: 35px;
  max-height: 35px;
}
article .comment-content {
  padding: 10px 0 0;
}
.comment em.new {
  background: green;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  float: right;
  font-style: normal;
  line-height: 1.3;
  padding: 0 4px 2px;
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

/* Blocks */
.block {
  margin-bottom: 20px;
}
.three-3x33 .block-inner,
.sidebar .block-inner {
  padding: 0 10px;
}
.region-tertiary-content .block {
  margin-bottom: 0;
}
#block-comment-recent span {
  font-size: 0.823em;
}
#block-user-login ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Breadcrumb */
#breadcrumb {
  margin-bottom: 20px;
}
#breadcrumb h2 {
  font-size: 1em;
  font-weight: 400;
  display: inline;
}
ol#crumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline;
}
ol#crumbs li.crumb {
  display: inline;
  list-style: none;
}

/* Poll */
.poll .vote-form .choices {
  margin: 0;
}
.poll .vote-form {
  text-align: left;
}

/* Profile */
.profile .user-picture {
  float: none;
  margin: 0 0 10px;
}

/* Messages */
#messages-help-wrapper {
  margin-bottom: 25px;
}

/* Tasks */
#tasks {
  margin-left: 10px;
  margin-right: 10px;
}

/* Local task tabs */
ul.primary {
  margin: 7px 0 10px;
  padding: 0;
}
ul.primary li a {
  font-weight: 700;
  line-height: 1.7;
  margin-right: 0;
  padding: 0 8px 0 2px;
}
ul.primary li a,
ul.primary li a:hover,
ul.primary li a.active,
ul.primary li.active a,
ul.primary li a.active:hover,
ul.primary li a.active:focus {
  border: 0;
}

/* Contextual link reset - be brutal */
.contextual-links-wrapper .contextual-links {
  margin: 0 !important;
  padding: 0.25em 0 !important;
}
.contextual-links-wrapper .contextual-links li {
  display: block !important;
  float: none !important;
  line-height: 100% !important;
  list-style: none !important;
  list-style-type: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.contextual-links-wrapper .contextual-links a {
  font-family: Arial, sans-serif !important;
  font-size: small !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  line-height: 1.2em !important;
  text-decoration: none !important;
  text-transform: none !important;
  color: #333 !important;
  display: block !important;
  float: none !important;
  margin: 0.25em 0 !important;
  padding: 0.25em 1em 0.25em 0.5em !important;
}
