# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/INSTALL.pgsql.txt
/INSTALL.mysql.txt
/INSTALL.txt
/CHANGELOG.txt
/COPYRIGHT.txt
/.htaccess
/LICENSE.txt
/INSTALL.sqlite.txt
/MAINTAINERS.txt
/cron.php
/UPGRADE.txt
/robots.txt
/index.php
/install.php
/update.php
/README.txt
/xmlrpc.php
/authorize.php
/web.config
/profiles/
/themes/
/scripts/
/modules/
/misc/
/includes/
/sites/default/
/sites/README.txt
/sites/example.sites.php
/sites/all/themes/README.txt
/sites/all/themes/adaptivetheme/
/sites/all/modules/README.txt
/sites/all/modules/contrib/