@import 'stylesheets/_typography';
@import 'stylesheets/design-patterns/_buttons';

$margin: 5px;

html {
  font-size: 62.5%
}

body {
  @include core-19;
}

h1, .heading-xlarge {
  @include bold-48();

  margin-bottom: $margin * 2;

  @include media(tablet) {
    margin-bottom: $margin * 3;
  }
}

h2, .heading-large {
  @include bold-36();

  margin-top: $margin * 4;
  margin-bottom: $margin * 2;

  @include media(tablet) {
    margin-top: $margin * 5;
    margin-bottom: $margin * 3;
  }
}

h3, .heading-medium {
  @include bold-24();

  margin-top: $margin;
  margin-bottom: $margin;

  @include media(tablet) {
    margin-top: $margin * 6;
    margin-bottom: $margin * 7;
  }
}

h4, .heading-small {
  @include bold-19();

  margin-top: $margin;

  @include media(tablet) {
    margin-top: $margin * 5;
    margin-bottom: $margin * 5;
  }
}

// Text
p {
  margin-top: $margin;
  margin-bottom: $margin;

  @include media(tablet) {
    margin-top: $margin * 3;
    margin-bottom: $margin * 4;
  }
}

// Lede, or intro text
.lede {
  @include core-24;
  margin: 0px 0px $margin*7 0px;
}

// Set a max-width for text blocks
// Less than 75 characters per line of text
.text {
  max-width: 30em;
}

.text-secondary {
  color: $secondary-text-colour;
}

// Link styles
.link, a:link {
  color: $link-colour;
  text-decoration: underline;
}
.link:visited, a:visited {
  color: $link-visited-colour;
}
.link:hover, a:hover {
  color: $link-hover-colour;
}
.link:active, a:active {
  color: $link-colour;
}

// Code styles
pre,
code {
  font-size: 13px;
  line-height: 19px;
  color: $black;
  background-color: $highlight-colour;
  border: 1px solid $border-colour;
  padding: 3px 7px;
}

// Get rid of the "No front page content" message from the node module.
#first-time {
  display:none;
}

.bullet {
  margin-left: $gutter;
  list-style: disc inside;
}

.comment-form, .search-form {
  margin: $gutter-half $gutter $gutter 0px;
  background: $white;

  label[for=edit-keys]
  {
    display: none;
  }
  
  .form-wrapper {
    @extend %contain-floats;
    position: relative;
  }
  
  .form-text {
    @include core-16;
    @include media(tablet) {
      @include core-19;
    }
    @include box-sizing(border-box);
    @include appearance(none);
    width: $two-thirds;
    border: 1px solid $grey-2;
    float: left;
    min-width: 0;
    display: block;
    margin: 0;
    height: 50px;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    padding: 6px;
    z-index: 3;
    background-color: $white;
  }

  .form-submit {
    @include box-sizing(border-box);
    @include appearance(none);
    @include border-radius(0);
    position: absolute;
    z-index: 4;
    top: 0;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -5000px;
    cursor: pointer;
    color: $white;
    background: $mainstream-brand url(https://assets.digital.cabinet-office.gov.uk/frontend/homepage/search-button-c923f058c4533517c89845a0aa435579.png) no-repeat 6px 50%;
    border: 0;
  }
  .search-advanced {
    display: none;
  }

}

